@import '~normalize.css';

/* wrap, line */

.slider__wrap {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.slider__wrap_ver {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.slider__line {
  position: relative;
  cursor: pointer;
  background-color: rgba(31, 32, 65, 0.15);
  border-radius: 3px;
}

.slider__line_horizontal{
  width: auto;
  height: 6px;
}

.slider__line_vertical{
  height: 100%;
  width: 6px;
}

.slider__progressbar {
  position: relative;
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

/* thumbs */
.slider__thumb-from {
  position: absolute;
  cursor: pointer;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #edfafc;
  border-radius: 10px;
}

.slider__thumb-to {
  position: absolute;
  cursor: pointer;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.slider__thumbfrom_horizontal {
  width: 12px;
  height: 12px;
  top: -5px;
}

.slider__thumbto_horizontal {
  width: 12px;
  height: 12px;
  top: -5px;
  right: 0;
}

.slider__thumbfrom_vertical {
  width: 12px;
  height: 12px;
  left: -5px;
}

.slider__thumbto_vertical {
  width: 12px;
  height: 12px;
  left: -5px;
}


/* from-to, min-max */
.slider__from {
  margin-top:-20px;
  user-select: none;
}

.slider__from_ver {
  margin-top: -3px;
  margin-left: -32px;
}

.slider__to {
  margin-top:-20px;
  user-select: none;
}

.slider__to_ver {
  margin-top: -3px;
  margin-left: -32px;
}

.slider__minmax {
  user-select: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.slider__minmax_ver {
  padding-top: 0;
  padding-left: 5px;
  flex-direction: column-reverse;
}

/* grid */
.slider__grid {
  cursor: pointer;
  padding-left: 7px; /*thumb width half*/
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
}

.slider__grid_ver {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 0;
  flex-direction: column;
}

.slider__gridlabel_hor {
  width: 1px;
  height: 12px;
  background-color: rgba(31, 32, 65, 0.5);
}

.slider__gridlabel_ver {
  width: 12px;
  height: 1px;
  background-color: rgba(31, 32, 65, 0.5);
}

/* items */
.slider__item_hor {
  cursor: pointer;
  width: 12px;
  height: 12px;
  position: absolute;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 10px;
  margin-left: -6px;
  margin-top: -3px;
}

.slider__item_selected_hor {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: -9px;
}

.slider__item-name_hor {
  margin-top: -25px;
  margin-left: -10px;
  font-size: 16px;
}

.slider__item-name_selected_hor {
  font-size: 22px;
}

.slider__item_ver {
  cursor: pointer;
  width: 12px;
  height: 12px;
  position: absolute;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 10px;
  margin-left: -3px;
  margin-bottom: -6px;
}

.slider__item_selected_ver {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -9px;
}

.slider__item-name_ver {
  margin-left: 30px;
  font-size: 16px;
}

.slider__item-name_selected_ver {
  font-size: 22px;
}


